body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: ;
}

.h-text{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.h-card img {
  width: 100%;
  height: auto;
}
.text {
  font-size: 18px;
  font-weight: normal;
}

ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

.container-1 {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.container-2 {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-holder {
  width: 960px;
  padding: 32px;
  display: flex;
  justify-content: center;
  gap: 32px;

}

.card {
  width: 200px;
  flex: 0 0 auto;
}

.card img {
  width: 100%;
  height: auto;
}
.container-3 {
  padding: 64px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-card {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote-ee {
  align-self: flex-start;
}
.container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.under-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-card {
  width: 400px;
  padding: 32px;
  flex: 0 0 auto;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 16px;
  display: flex;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #3882f6;
}

.modal {
  box-sizing: border-box;
  width: 960px;
  height: auto;
  padding: 32px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
}
