body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: ;
}

.h-text{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.h-card img {
  width: 100%;
  height: auto;
}
.some-text {
  font-size: 18px;
  padding: 16px 0;
  font-weight: normal;
  color: #e5e7eb;
}

ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

.container-1 {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-2 {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-head {
  font-size: 36px;
  font-weight: bolder;
}

.card-holder {
  width: ;
  padding: 64px;
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  
}

.card {
  width: 150px;
  flex: 0 0 auto;
}

.card img {
  width: 100%;
  height: auto;
}
.container-3 {
  padding: 64px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-card {
  width: 960px;
  padding: 60px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 10;
  color:#1f2937
}

.quote-ee {
  font-weight: bold;
  text-align: right;
}
.container-4 {
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 960px;
  flex: ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.under-head {
  width: 960px;
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-card {
  width: 400px;
  padding: ;
  flex: 0 0 auto;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 16px;
  display: flex;
  justify-content: center;
}

button {
  padding: 8px 24px;
  border-style: solid;
  border-color: #e5e7eb;
  border-radius: 5px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  flex: 0 1 auto
}

.container-1 button {
  border: 0;
}

.container-4 button {
}

.modal {
  box-sizing: border-box;
  width: 960px;
  height: auto;
  margin: ;
  padding: 64px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  border-radius: 5px;
}